
body{
  margin:0px;
  padding:0px;
  background-color:	#00008B;
}

/****************************************************************************** Header Section ********************************************/
ul {
    margin: 0px;
    padding: 0px;
    background-color: #333333;
    padding: 20px 0px 20px 0px;
    width:100%;
    position:fixed;
    z-index:1000;
}

li {
    float: right;
}

/****************************************************************************** Top Section ********************************************/
/* Text on First Page */
.titleText{
  color: #e6ccff;
  font-size:300%;
  text-shadow: 0px 0px 12px #bf80ff;
  font-family: 'Titillium Web', sans-serif;
}
.titleText:hover{
  text-shadow: 0px 0px 20px #bf80ff;
}
.headerquote{
  font-size:30px; 
  z-index: 100;
  top: 250px;
  left: 25%;
  right: 25%;
  text-align:center;
  position: absolute;
  font-family: 'Pacifico', cursive;
  color:red;
}

/* Space Image */
.header_image{
  display:block;
  margin: 0px;
  padding:0px;
  width:100%;
  border:0px;
  z-index: -5000; /* goes behind text*/
}

.header_button{
  background:none;
  color:white;
  border:none;
  font-family: 'Pacifico', cursive;
}

.header_button:hover{
  color:grey;
}

/****************************************************************************** General **************************************************/
.sectionHeading{
  text-align:left;
  padding-left:30px;
  font-family: 'Pacifico', cursive;
}
.images{
  text-align:center;
  height:auto;
  max-width: 200px;
  border-radius:5px;
}
.text{
  font-family:Merriweather, Times New Roman;
  width:100%;
  font-size:20px;
  text-align:left;
  margin-left: auto;
  margin-right: auto;
  color: #A9A9A9;
}
/****************************************************************************** About Section ********************************************/
#aboutSection{
  border-style: solid;
  border-color:#DCDCDC;
  border-width:0px 0px 3px 0px;
  padding:0px 25% 20px 25%;
  background-color:white;
}                                       


/****************************************************************************** Projects Section ********************************************/
.imagetext{
  text-align:center;
}

#projectSection{
  margin:0px 25% 20px 25%;
}
.subsection{
  font-family: 'Pacifico', cursive;
}
