.App {
  text-align: center;
}

.banner{
  background: #f33d46;
  color:white;
  font-size:80px;
  height:100px;
  line-height:100px;
  text-align:center;
  text-shadow:4px 4px black;
}

.banner-text{
  text-shadow:1 1 black;
}

.logo{
  display:inline-block;
  height:120px;
  vertical-align:middle;
}

.title{
  font-size:100px;
  text-align:center;
}

.subTitle{
  font-size:60px;
  color:white;
  background-color:black;
  text-align:center;
}