
.App {
  text-align: center;
  margin:0px;
  padding:0px;
}

.Grid{
  margin:0px;
  padding:0px;
}


.logo{
  /* background: #ff0000; */
  color:rgb(36, 36, 36);
  font-size:60px;
  height:60px;
  /* line-height:3px; */
  text-align:center;
  /* text-shadow:1px 1px black; */
  font-family: 'Kumar One Outline', cursive;
  border-radius:1px;
}

.tagline{
  text-align:center;
}

.headingContainer{
  background-color:rgb(255, 217, 0);
}

.heading{
  padding-top:50px;
  font-size:130px;
  font-family: 'Bangers', cursive;
  text-align:center;
  color:rgb(126, 126, 126)
}

.subHeading{
  font-size:30px;
  font-family: 'Oswald', sans-serif;
}

.articleHeading{
  font-family: 'Oswald', sans-serif;
  font-size:30px;
  margin-bottom:20px;
}

/* Skills */

.skill{
  text-align:center;
  font-size:24px;
  font-family: 'Oswald', sans-serif;
}

.skillImg{
  margin-left:auto;
  margin-right:auto;
  max-width:25%;
}

/*  Projects */
.project{
  
}

.column{
  border-style: solid;
  border-color: rgb(231, 231, 231);
  border-width: 0px 1px 1px 1px;
}

.projectStory{
  margin:10px;
}

.projectHeading{
  font-size:24px;
  font-family: 'Oswald', sans-serif;
  margin-top:0px;
  /* text-align:center; */
}

.projectImg{
  /* max-height:200px;
  min-width:300px; */
}

.projectText{
  /* text-align:center; */
}

.projectShort{

}