/* Grid Styling */
.Grid {
  margin: 0px;
  padding: 0px;
}

.container-fluid {
  margin: 0px;
  padding: 0px;
}
/* Styling on Elements Direct */
h1 {
  margin: 0px;
  padding: 0px;
}

a {
  color: rgb(58, 58, 58);
  text-decoration: none !important;
}

a:hover {
  color: rgb(68, 68, 253);
}

p {
  font-size: 16px;
  font-family: "Roboto Mono", monospace;
}
@media (max-width: 1300px) {
  /* small scale */
  .page {
  }

  .nav-bar {
    position: fixed;
    z-index: 1000;
    background-color: rgb(255, 208, 0);
  }

  .nav-bar__logo {
    text-align: center;
    font-size: 15px;
    margin: 10px 0px 10px 10px;
    color: rgb(36, 36, 36);
    font-size: 32px;
    font-family: "Bangers", cursive;
    text-align: left;
  }

  .nav-bar__logo:hover{
    color:rgb(158, 152, 152);
  }

  .nav-bar__button {
    display:none !important;
  }

  .home {
    padding-top: 100px;
    background-color: rgb(255, 208, 0);
    height: 90%;
  }

  .home__heading {
    text-align: center;
    font-size: 60px;
    margin-top: 30px;
    font-family: "Bangers", cursive;
  }

  .home__tagline {
    text-align: center;
    margin:0px 10px 0px 10px;
  }

  .home__image-large {
    display:none;
  }

  .home__image-small {
    width: 50%;
  }

  .langbar {
    margin-top:10px;
  }

  .langbar__img {
    display: block;
    width:20%;
    margin:0 auto;
  }

  .projects {
  }

  .projects__heading {
  }

  .projects__story {
    margin: 10px;
  }

  .projects__img {
    width: 50%;
    margin-right: auto;
    margin-left: auto;
  }

  .projects__heading {
    font-size: 24px;
    font-family: "Oswald", sans-serif;
    margin-top: 0px;
    text-align: center;
    font-weight: bold;
  }

  .projects__text {
    text-align: center;
  }

  .contact {
  }

  .contact__heading {
  }

  .contact__form-group {
  }

  .contact__name {
  }

  .contact__email {
  }

  .contact__message {
  }

}

@media (min-width: 1300px) {
  /* websize */
  .page {
  }

  .nav-bar {
    position: fixed;
    background-color: rgb(255, 208, 0);
    width:100%;
    z-index: 1000;
  }

  .nav-bar__logo {
    text-align: center;
    font-size: 15px;
    margin: 10px 0px 10px 10px;
    color: rgb(36, 36, 36);
    font-size: 32px;
    font-family: "Bangers", cursive;
    text-align: left;
  }

  .nav-bar__logo:hover{
    color:rgb(158, 152, 152);
  }

  .nav-bar__button {
    margin: 10px 0px 10px 0px;
    display:inline-block;
  }

  .home {
    padding-top: 100px;
    background-color: rgb(255, 208, 0);
    height: 90%;
  }

  .home__heading {
    font-size: 60px;
    margin-top: 30px;
    font-family: "Bangers", cursive;
    text-align: left;
  }

  .home__tagline {
    text-align:left;
  }

  .home__image-large {
    width:60%;
  }

  .home__image-small {
    display:none;
  }

  .langbar {
    margin-top:10px;
  }

  .langbar__img {
    display: block;
    width:40%;
    margin:0 auto;
  }


  .projects {
  }

  .projects__heading {
  }

  .projects__story {
    margin: 10px;
  }

  .projects__img {
    width: 50%;
    margin-right: auto;
    margin-left: auto;
  }

  .projects__heading {
    font-size: 24px;
    font-family: "Oswald", sans-serif;
    margin-top: 0px;
    text-align: center;
    font-weight: bold;
  }

  .projects__text {
    text-align: center;
  }

  .contact {
  }

  .contact__heading {
  }

  .contact__form-group {
  }

  .contact__name {
  }

  .contact__email {
  }

  .contact__message {
  }

  .copyright {
  }
}
